extends ../layouts/main-layout.pug

block styles
  link(rel="stylesheet", href="/css/forms.css")
  link(rel="stylesheet", href="/css/auth.css")

block content
  main
    if (errorMessage)
      .user-message.user-message--error= errorMessage

    form.login-form(action="/signup", method="POST", novalidate)
      input(name="_csrf", type="hidden", value=csrfToken)

      .form-control
        label(for="email") Email
        input#email(type="text", name="email", value=oldInput.email)

      .form-control
        label(for="password") Password
        input#password(type="text", name="password", value=oldInput.password)

      .form-control
        label(for="confirmPassword") Confirm Password
        input#confirmPassword(type="text", name="confirmPassword", value=oldInput.confirmPassword)

      button.btn(type="submit") Signup
