extends ../layouts/main-layout.pug

block styles
  link(rel="stylesheet", href="/css/cart.css")

block content
  main
    ul.cart__item-list
      each product in products
        li.cart__item
          h1= product.productId.title
          h2 Quantity: #{ product.quantity }
    .centered
      h2 Total: $#{ totalSum }

    .centered
      button#order-btn.btn Order
      script(src="https://js.stripe.com/v3") 
      script.
        const stripe = Stripe("!{process.env.stripe_key}");
        const orderBtn = document.getElementById("order-btn");

        orderBtn.addEventListener("click", () => {
          stripe.redirectToCheckout({
            sessionId: "!{sessionId}",
          });
        });
